@charset 'utf-8';

@keyframes show-up{
	0%{
	  opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
  }

body {
	overflow-x: hidden;
	color: rgb(29, 29, 31);
	letter-spacing: -0.05em;
	background: white;

    font-family: sandoll-jebi2, sans-serif;

	font-weight: 300;

	font-style: normal;

	word-break: keep-all;
	font-size: 1.2em;
	margin: 0px;
}

a {
	color: rgb(29, 29, 31);
	text-decoration: none;
}

.container{
	width: 100%;
	height: 100%;
	max-width: 1500px;
	margin: 0 auto;
	overflow-x: hidden;
}

.img{ 
    width: 100%;
}

.global-nav {
	position: relative;
	top: 0;
	left: 5vw;
	z-index: 9;
	width: 90%;
	height: 44px;
	padding-right: 1rem;
	font-size: 1.2em;
	
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

.global-nav-links,
.local-nav-links {
	display: flex;
	align-items: center;
	height: 100%;
	margin: 0 auto;
}
.global-nav-links {
	justify-content: space-between;
}

.global-nav-links :nth-child(1){
	font-weight: 700;
	margin-right: 20vw;
}

.main{
	padding-top: 0;
	text-align: center;
	height: 90vh;
}

.first{
	position: absolute;
	max-width: 1500px;
	top: 0vh;
	width: 100%;
	height:70vh;
}

.main-message{
	position: relative;
	top:80vh;
	opacity: 0%;
	animation: show-up 2s 2s 1 forwards;
}

.a {
	font-weight: 700;
	font-size: 1.5em;
}

.main > .first{
	
	opacity: 0%;
	animation: show-up 2s 1s 1 forwards;
}

.main > .second{
	background-image: url(img/main_2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.second-page-main{
	position: relative;
	left: 10vw;
	line-height: 2em;
	opacity: 0;
	animation: show-up 2s 1s 1 forwards;
}

.front-page{
	position: relative;
	width: 100%;
	
	overflow-y: hidden;
	height: 30vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 0.3fr 1fr;
	z-index: 10;
	opacity: 0;
	opacity: 0;
	animation: show-up 2s 1s 1 forwards;
}

.introduce > .text-container {
	background-color: rgb(140, 95, 53);
	padding-top: 2vh;
	padding-left: 5vw;
	color: white;
	font-weight: 700;
	font-size: 1.2em;
}

.introduce > .text-container :nth-child(2){
	left: 10vw;
	line-height: 2em;
	opacity: 0;
	animation: show-up 2s 2s 1 forwards;
	font-weight:500;
	font-size: 0.8em;
}

